<app-nav></app-nav>


<header class="container my-5">
    <app-title></app-title>
</header>

<div class="container my-5">
    <app-carousel></app-carousel> <!-- 1200 x 400 -->
</div>

<div class="container my-5">
    <app-skills id="experiencias" [Json]="'QA_tecnologias'" [title]="'Quality Assurance y otros conocimientos'"></app-skills>
    <app-perfil-profesional id="perfil"></app-perfil-profesional>
    <app-skills id="certificados" [Json]="'certificaciones'" [title]="'Cursos y certificaciones'"></app-skills>
    <app-destacado id="destacado"></app-destacado>
    <app-empleadores></app-empleadores>
</div>