.cuadro-texto {
  border: 1px solid #b3b3b3;
  padding: 10px;
  max-height: 350px;
  overflow-y: auto;
}

.lista-scroll {
  max-height: 375px;
  overflow-y: auto;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

li:hover {
  filter: brightness(120%);
}

ul li p {
  font-weight: 100 !important;
}

.contenedor-filtro {
  display: flex;
  align-items: center;
}

.itemSelected {
  box-shadow: 2px 2px 1px #1ba1ef8a;
  background-color: #1ba1ef1b;
  border: 1px solid #1ba1ef8a;
}

/* .itemSelectedAnimation:active {
  animation: itemSelectedAnimation 10s;
}

@keyframes itemSelectedAnimation {
  0% {
    transform: scaleY(.5);
  }

  5% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
} */

.lista-scroll li {
  cursor: pointer;
}