.cuadro-texto {
  border: 1px solid #b3b3b3;
  padding: 10px;
  max-height: 350px;
  overflow-y: auto;
}

.lista-scroll {
  max-height: 375px;
  overflow-y: auto;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

.liSeleccion {
  box-shadow: 1px 1px 5px #1ba1ef80;
  background-color: rgba(128, 128, 128, 0.301);
}

li:hover {
  filter: brightness(120%);
}

.contenedor-filtro {
  display: flex;
  align-items: center;
}

ul li p {
  font-weight: 100 !important;
}