<div id="repositorio" class="row g-0 px-4 mb-5">
  <div class="col">

    <!-- <h2 class="titulo text-center py-5">
      <a href="https://github.com/caviglia80" target="_blank" rel="noreferrer">GitHub</a>
    </h2> -->

    <h2 class="titulo text-center py-5">
      <h1>GitHub</h1>
    </h2>

    <div *ngIf="repos$ | async as repos" class="row text-center justify-content-center">
      <div *ngFor="let repo of showAllRepos ? repos : repos.slice(0, 6)" class="repoItem col-lg-4 mb-3 Animation">
        <!-- <a href="{{ repo.html_url }}" target="_blank" rel="noreferrer">
          <img src="{{ repo.owner.avatar_url }}" alt="{{ repo.owner.login }}"
            class="bd-placeholder-img rounded-circle mb-2" width="140" height="140" role="img"
            title="{{ repo.owner.login }}">
        </a> -->
        <img src="{{ repo.owner.avatar_url }}" alt="{{ repo.owner.login }}"
          class="bd-placeholder-img rounded-circle mb-2" width="140" height="140" role="img"
          title="{{ repo.owner.login }}">
        <h3 class="">{{ truncateTitle(repo.name) }}</h3>
        <p>{{ truncateDescription(repo.description) }}</p>
      </div>
    </div>

    <div class="text-center mt-5">
      <button (click)="scrollTo('repositorio')" class="btn btn-secondary" [ngClass]="{'verMas': !showAllRepos}"
        (click)="showAllRepos = !showAllRepos">
        {{ showAllRepos ? 'See less' : 'See more ( +' + repoCount + ' )' }}
      </button>
    </div>

  </div>
</div>