<div class="row g-0 px-4 mb-5">
    <div class="col">

        <h2 class="titulo text-center py-5">Repositorios en GitHub</h2>

        <div *ngIf="repos$ | async as repos" class="row text-center justify-content-center">
            <div *ngFor="let repo of repos" class="col-lg-4 mb-3">
                <a href="{{ repo.owner.html_url }}" target="_blank" rel="noreferrer">
                    <img src="{{ repo.owner.avatar_url }}" alt="{{ repo.owner.login }}"
                        class="bd-placeholder-img rounded-circle mb-2" width="140" height="140" role="img"
                        title="{{ repo.owner.login }}">
                </a>
                <h3 class="">{{ repo.name }}</h3>
                <p>{{ truncateDescription(repo.description) }}</p>
                <p>
                    <a class="btn btn-secondary" href="{{ repo.html_url }}" target="_blank" rel="noreferrer">Repositorio
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-search" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
                    </a>
                </p>
            </div>
        </div>

    </div>
</div>