<div id="perfil" class="row acerca-de align-items-center px-4 mb-5">
  <div class="col-12 col-lg-4 foto text-center">

    <img
      src="https://media.licdn.com/dms/image/D4D03AQEB0fdgcFOj7Q/profile-displayphoto-shrink_400_400/0/1681946777982?e=1714608000&v=beta&t=dju3BdaAFN1UlnNA0AK9kMJYr-NAeTtXj4iwcj6az7w"
      class="rounded-circle mb-2 p-1 w-100" (error)="imageError = true" *ngIf="!imageError" alt="Francisco Caviglia">
    <img src="assets/img/Perfil.jpg" class="rounded-circle mb-2 p-1 w-75" *ngIf="imageError" alt="Francisco Caviglia">


    <!-- <p class="nombre">Francisco Caviglia</p> -->
  </div>

  <div class="col-12 col-lg-8 info">
    <h2 class="titulo text-center text-lg-start">Professional Profile</h2>
    <br>
    <p class="summary">I am committed to my professional development and willing to face new challenges and
      responsibilities to continue growing in knowledge.</p>

    <h3 class="text-lg-start mt-2">Personal Skills</h3>

    <p class="resumen">
      <i class="bi bi-arrow-right-short"></i>Creativity<br>
      <i class="bi bi-arrow-right-short"></i>Proactivity<br>
      <i class="bi bi-arrow-right-short"></i>Responsibility<br>
      <i class="bi bi-arrow-right-short"></i>Speed in learning<br>
      <i class="bi bi-arrow-right-short"></i>Teamwork and independence<br>
    </p>
  </div>
</div>