/* Portafolio */
.portafolio {
	border-top: 5px solid #3da5e2;
	background: #fff;
}

.portafolio .titulo {
	color: #3da5e2;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.portafolio .galeria .contenedor-imagen {
	max-height: 180px;
	overflow: hidden;
}

.portafolio .galeria .contenedor-imagen a {
	background: #3da5e2;
	display: inline-block;
}

.portafolio .galeria .contenedor-imagen:hover img {
	opacity: .3;
}