 <div class="row portafolio g-0 px-4 mb-5">
    <div class="col">
        <h2 class="titulo text-center py-5">Portafolio</h2>
        <div class="row galeria">

            <div class="contenedor-imagen mb-4 col-6 col-lg-4">
                <a href="#" data-bs-toggle="modal" data-bs-target="#modal-galeria"><img src="assets/img-1.jpg" class="d-block w-100" alt=""></a>
            </div>

            <div class="contenedor-imagen mb-4 col-12 col-lg-8">
                <a href="#" data-bs-toggle="modal" data-bs-target="#modal-galeria"><img src="assets/img-2.jpg" class="d-block w-100" alt=""></a>
            </div>

            <div class="contenedor-imagen mb-4 col-12 col-lg-8">
                <a href="#" data-bs-toggle="modal" data-bs-target="#modal-galeria"><img src="assets/img-3.jpg" class="d-block w-100" alt=""></a>
            </div>

            <div class="contenedor-imagen mb-4 col-6 col-lg-4">
                <a href="#" data-bs-toggle="modal" data-bs-target="#modal-galeria"><img src="assets/img-4.jpg" class="d-block w-100" alt=""></a>
            </div>

            <div class="contenedor-imagen mb-4 col-6 col-lg-4">
                <a href="#" data-bs-toggle="modal" data-bs-target="#modal-galeria"><img src="assets/img-5.jpg" class="d-block w-100" alt=""></a>
            </div>

            <div class="contenedor-imagen mb-4 col-6 col-lg-4">
                <a href="#" data-bs-toggle="modal" data-bs-target="#modal-galeria"><img src="assets/img-6.jpg" class="d-block w-100" alt=""></a>
            </div>

            <div class="contenedor-imagen mb-4 col-12 col-lg-4">
                <a href="#" data-bs-toggle="modal" data-bs-target="#modal-galeria"><img src="assets/img-7.jpg" class="d-block w-100" alt=""></a>
            </div>
        </div>

        <div class="modal fade" id="modal-galeria" tabindex="-1" aria-labelledby="modal-galeria" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <img id="imagen-modal" alt="">
                </div>
            </div>
        </div>
    </div>
</div>




