<div class="modal-header">
    <h4 class="modal-title custom-text-center">Seleccione Sector</h4>
    <button type="button" class="close border-0 shadow-none bg-transparent" aria-label="Close" (click)="error()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div *ngIf="errorLabel" class="modal-body">
    <p class="text-danger">* Por favor, seleccione un sector.</p>
</div>
<div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-dark" (click)="hide()" routerLink="/desarrollo">Desarrollo Web</button>
    <button type="button" class="btn btn-dark" (click)="hide()" routerLink="/qa">Quality Assurance</button>
</div>