<div id="expTimeline" class="flex-parent">
  <div class="input-flex-container">
    <input type="radio" name="timeline-dot" data-description="1">
    <div class="dot-info" data-description="1">
      <span class="year">November 2016</span>
      <span class="label">BNP Paribas Cardif</span>
    </div>
    <input type="radio" name="timeline-dot" data-description="3">
    <div class="dot-info" data-description="3">
      <span class="year">March 2018</span>
      <span class="label">Banco Hipotecario</span>
    </div>
    <input type="radio" name="timeline-dot" data-description="4">
    <div class="dot-info" data-description="4">
      <span class="year">February 2019</span>
      <span class="label">HSBC BANK ARGENTINA</span>
    </div>
    <input type="radio" name="timeline-dot" data-description="5" checked="">
    <div class="dot-info" data-description="5">
      <span class="year">August 2020</span>
      <span class="label">BOLDT</span>
    </div>
    <input type="radio" name="timeline-dot" data-description="6" checked="">
    <div class="dot-info" data-description="6">
      <span class="year">October 2021</span>
      <span class="label">BOLDT</span>
    </div>

    <div id="timeline-descriptions-wrapper">

      <div class="item Animation" data-description="1">
        <p class="titles texto-animado1">
          {{ jobData["BNP"]?.date || '...' }}
          <br>
          {{ jobData["BNP"]?.position || '...' }}
        </p>
        <p class="details texto-animado2">
          Responsabilidades:
          <br>
          <ng-container *ngIf="jobData['BNP']?.responsibilities; else noResponsibilities">
            <ng-container *ngFor="let responsibility of jobData['BNP'].responsibilities; let i = index">
              <i class="bi bi-arrow-right-short"></i>{{ responsibility }}<br>
            </ng-container>
          </ng-container>
          <ng-template #noResponsibilities>
            ...
          </ng-template>
        </p>
        <br>
      </div>

      <div class="item Animation" data-description="3">
        <p class="titles texto-animado1">
          {{ jobData["Hipotecario"]?.date || '...' }}
          <br>
          {{ jobData["Hipotecario"]?.position || '...' }}
        </p>
        <p class="details texto-animado2">
          Responsabilidades:
          <br>
          <ng-container *ngIf="jobData['Hipotecario']?.responsibilities; else noResponsibilities">
            <ng-container *ngFor="let responsibility of jobData['Hipotecario'].responsibilities; let i = index">
              <i class="bi bi-arrow-right-short"></i>{{ responsibility }}<br>
            </ng-container>
          </ng-container>
          <ng-template #noResponsibilities>
            ...
          </ng-template>
        </p>
        <br>
      </div>

      <div class="item Animation" data-description="4">
        <p class="titles texto-animado1">
          {{ jobData["HSBC"]?.date || '...' }}
          <br>
          {{ jobData["HSBC"]?.position || '...' }}
        </p>
        <p class="details texto-animado2">
          Responsabilidades:
          <br>
          <ng-container *ngIf="jobData['HSBC']?.responsibilities; else noResponsibilities">
            <ng-container *ngFor="let responsibility of jobData['HSBC'].responsibilities; let i = index">
              <i class="bi bi-arrow-right-short"></i>{{ responsibility }}<br>
            </ng-container>
          </ng-container>
          <ng-template #noResponsibilities>
            ...
          </ng-template>
        </p>
        <br>
      </div>

      <div class="item Animation" data-description="5">
        <p class="titles texto-animado1">
          {{ jobData["BOLDT"]?.date || '...' }}
          <br>
          {{ jobData["BOLDT"]?.position || '...' }}
        </p>
        <p class="details texto-animado2">
          Responsabilidades:
          <br>
          <ng-container *ngIf="jobData['BOLDT']?.responsibilities; else noResponsibilities">
            <ng-container *ngFor="let responsibility of jobData['BOLDT'].responsibilities; let i = index">
              <i class="bi bi-arrow-right-short"></i>{{ responsibility }}<br>
            </ng-container>
          </ng-container>
          <ng-template #noResponsibilities>
            ...
          </ng-template>
        </p>
        <br>
      </div>

      <div class="item Animation" data-description="6">
        <p class="titles texto-animado1">
          {{ jobData["BOLDT2"]?.date || '...' }}
          <br>
          {{ jobData["BOLDT2"]?.position || '...' }}
        </p>
        <p class="details texto-animado2">
          Responsabilidades:
          <br>
          <ng-container *ngIf="jobData['BOLDT2']?.responsibilities; else noResponsibilities">
            <ng-container *ngFor="let responsibility of jobData['BOLDT2'].responsibilities; let i = index">
              <i class="bi bi-arrow-right-short"></i>{{ responsibility }} <br>
            </ng-container>
          </ng-container>
          <ng-template #noResponsibilities>
            ...
          </ng-template>
        </p>
        <br>
      </div>

      <button class="btn btn-secondary Animation-active" (click)="scrollTo('habilidades')">Más</button>
    </div>
  </div>
</div>