.flex-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 500px;
}

.input-flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
  position: relative;
  z-index: 0;
  margin-left: calc((80vw - 25px) / 20);
  margin-top: 10vh;
  margin-bottom: 5vh;
}

input {
  width: 20px;
  height: 20px;
  background-color: #1ba0ef;
  position: relative;
  border-radius: 50%;
  border: 2px solid #1ba0ef;
  display: block;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  transition: all 2s;
  opacity: .7;
}

input:hover {
  border: 1px solid #1ba0ef;
  transform: scale(1.5);
}

input:focus {
  outline: none;
}

input:checked {
  background-color: #1ba0ef;
  animation: agrandamiento 1s linear infinite !important;
  filter: brightness(1.1);
  opacity: .9 !important;
}

input:checked~input {
  background-color: transparent;
}

input:checked+.dot-info span {
  transform: scale(1.2);
  font-weight: bold;
  opacity: 1 !important;
}

.dot-info {
  width: 25px;
  height: 25px;
  display: block;
  visibility: hidden;
  position: relative;
  z-index: -1;
  left: calc((((80vw - 25px) / 20) * -1) - 1px);
}

.dot-info span {
  opacity: .4;
}

.dot-info span {
  transition: all 1s;
  visibility: visible;
  position: absolute;
  font-size: 12px;
}

.dot-info span.year {
  bottom: -37px;
  left: 50%;
  transform: translateX(-50%);
}

.dot-info span.label {
  top: -65px;
  left: 0;
  transform: rotateZ(-45deg);
  width: 70px;
  text-indent: -10px;
}

#timeline-descriptions-wrapper {
  width: 100%;
  margin-top: 90px;
  /* margin-left: calc((-80vw - 25px) / 20); */
  transition: all 3s;
}

#timeline-descriptions-wrapper .item {
  margin-top: 1vh;
  margin-bottom: 2vh;
  display: none;
}

#timeline-descriptions-wrapper .btn {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* input[data-description="0"]:checked~#timeline-descriptions-wrapper .item[data-description="0"] {
    display: block;
} */

input[data-description="1"]:checked~#timeline-descriptions-wrapper .item[data-description="1"] {
  display: block;
}

/* input[data-description="2"]:checked~#timeline-descriptions-wrapper .item[data-description="2"] {
    display: block;
} */

input[data-description="3"]:checked~#timeline-descriptions-wrapper .item[data-description="3"] {
  display: block;
}

input[data-description="4"]:checked~#timeline-descriptions-wrapper .item[data-description="4"] {
  display: block;
}

input[data-description="5"]:checked~#timeline-descriptions-wrapper .item[data-description="5"] {
  display: block;
}

input[data-description="6"]:checked~#timeline-descriptions-wrapper .item[data-description="6"] {
  display: block;
}

@media (max-width: 770px) {

  #timeline-descriptions-wrapper {
    margin-top: 0;
    margin-left: 0;
    text-align: center;
  }

  #timeline-descriptions-wrapper .item .titles {
    text-align: end;
  }

  #timeline-descriptions-wrapper .item .details {
    text-align: start;
  }

  .input-flex-container {
    height: auto;
    margin-top: 0;
    margin-bottom: 5vh;
    margin-left: 0;
    padding-bottom: 0px;
    flex-direction: column-reverse;
  }

  input {
    width: 30px;
    height: 30px;
    margin: 0 10px 50px;
  }

  .dot-info span.label {
    top: 50%;
    left: 15vw;
  }

  .dot-info span.year {
    top: 0px;
    left: -20vw;
  }

  input:checked {
    animation: agrandamientoSmall 1s linear infinite !important;
  }
}

@keyframes agrandamiento {
  0% {
    transform: scale(.4);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(.4);
  }
}

@keyframes agrandamientoSmall {
  0% {
    transform: scale(.2);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(.2);
  }
}




/* Definir la animación */
@keyframes desplazarTexto {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.texto-animado1 {
  opacity: 0;
  animation: desplazarTexto .3s ease-out forwards;
}

.texto-animado2 {
  opacity: 0;
  animation: desplazarTexto .4s ease-out forwards;
}