<div class="flex-parent">
    <div class="input-flex-container">
        <input type="radio" name="timeline-dot" data-description="0">
        <div class="dot-info" data-description="0">
            <span class="year">Enero 2017</span>
            <span class="label">Frávega</span>
        </div>
        <input type="radio" name="timeline-dot" data-description="1">
        <div class="dot-info" data-description="1">
            <span class="year">Agosto 2017</span>
            <span class="label">BNP Paribas Cardif</span>
        </div>
        <input type="radio" name="timeline-dot" data-description="2">
        <div class="dot-info" data-description="2">
            <span class="year">Marzo 2018</span>
            <span class="label">DIA</span>
        </div>
        <input type="radio" name="timeline-dot" data-description="3">
        <div class="dot-info" data-description="3">
            <span class="year">Septiembre 2018</span>
            <span class="label">Banco Hipotecario</span>
        </div>
        <input type="radio" name="timeline-dot" data-description="4">
        <div class="dot-info" data-description="4">
            <span class="year">Septiembre 2019</span>
            <span class="label">HSBC BANK ARGENTINA</span>
        </div>
        <input type="radio" name="timeline-dot" data-description="5" checked="">
        <div class="dot-info" data-description="5">
            <span class="year">Noviembre 2020</span>
            <span class="label">BOLDT</span>
        </div>

        <div id="timeline-descriptions-wrapper">
            <p data-description="0">0</p>
            <p data-description="1">1</p>
            <p data-description="2">2</p>
            <p data-description="3">3</p>
            <p data-description="4">4</p>
            <p data-description="5">5</p>
        </div>
    </div>
</div>