<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark"> <!-- sm/lg/xl -->
  <div class="container-fluid">

    <a href="" class="mx-1"><img class="navbar-icon img-fluid" src="{{imgLogo}}" alt="Logo"></a>

    <button class="navbar-toggler Animation-active" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
      aria-controls="menu" aria-label="Mostrar / Ocultar Menu" [attr.aria-expanded]="!isCollapsed"
      (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menu" [ngClass]="{'show': !isCollapsed}">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 Animation">
        <!--        <li class="nav-item"><a class="nav-link" (click)="scrollTo('inicio')">Inicio</a></li> -->

        <li class="nav-item"><a class="nav-link" (click)="scrollTo('perfil')">Profile</a></li>

        <li class="nav-item"><a class="nav-link" (click)="scrollTo('habilidades')">Skills</a></li>

        <li class="nav-item"><a class="nav-link" (click)="scrollTo('repositorio')">Repository</a></li>

        <li class="nav-item"><a class="nav-link" (click)="scrollTo('certificaciones')">Certifications</a></li>

        <li class="nav-item"><a class="nav-link" (click)="scrollTo('expTimeline')">Work Experience</a></li>

        <li class="nav-item"><a class="nav-link" (click)="scrollTo('contacto')">Contact</a></li>

        <li class="nav-item m-0 px-lg-2">
          <app-dark-mode></app-dark-mode>
        </li>

      </ul>

    </div>
  </div>
</nav>