.cursor-circle {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid grey;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999!important;
}

.cursor-point {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background-color: grey;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.big-and-fade-in-out {
	animation: cursorAnimation .6s ease forwards;
}

@keyframes cursorAnimation {
	0% {
		transform: scale(1) translate(-50%, -50%);
		opacity: 1;
	}

	50% {
		transform: scale(1.7) translate(-25%, -25%);
		opacity: 0;
	}

    100% {
		transform: scale(1) translate(-50%, -50%);
		opacity: 1;
	}
}


