<app-toast [title]="'CV - PDF'" [text]="'Ver versión '"
  [link]="'https://drive.google.com/file/d/1np4_5AVzvVTOgTqFOayEYgAR2pj9tylg/view?usp=drive_link'" [linkTxt]="'PDF.'">
</app-toast>

<!-- <section>
  <app-presentation></app-presentation>
</section> -->

<app-nav></app-nav>

<app-particles *ngIf="gVariableService.darkModeState"></app-particles>

<router-outlet></router-outlet>

<div class="d-flex flex-column position-fixed start-0 bottom-0 z-index-9999 text-center">
  <app-top-btn></app-top-btn>
  <!-- <app-github-btn></app-github-btn> -->
  <app-linkedin-btn></app-linkedin-btn>
  <app-whatsapp-btn></app-whatsapp-btn>
</div>

<footer id="contacto" class="bg-dark text-light py-4"><app-footer></app-footer></footer>