<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>Contacto</h4>
            <p>Correo 1: caviglia80@gmail.com</p>
            <p>Correo 2: caviglia80@hotmail.com</p>
            <p>LinkedIn: in/francisco-caviglia</p>
            <p>Whatsapp: +54-236-4653595</p>
            <p>Dirección: Buenos Aires, Capital Federal</p>
        </div>

        <div class="col-md-6 mt-5">
            <h4>Datos personales</h4>
            <p>Edad: {{anios}} Años.</p>
            <p>Fecha Nacimiento: 10/10/1993</p>
            <p>Nacionalidad: Argentino, Italiano</p>
        </div>

    </div>
    <hr class="my-3">
    <div class="text-center">
        <p>Todos los derechos reservados &copy; 2023 | Francisco Caviglia</p>
    </div>
</div>









