.contenedor-item {
  display: flex;
  align-items: center;
}

.linkedin-badge {
  font-family: Arial, sans-serif;
  max-width: 340px;
  background-color: #282828;
  color: white;
  padding: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
}

.linkedin-badge img {
  border-radius: 50%;
}

.linkedin-badge h2 {
  margin-top: 10px;
}

.linkedin-badge p {
  font-size: 14px;
  line-height: 1.4;
}

.linkedin-badge a {
  display: inline-block;
  text-decoration: none;
  border: none;
  color: white;
  background-color: #0072b1;
  /* border-radius: 20px; */
  font-size: 14px;
  transition: background-color 0.3s;
}

.linkedin-badge a:hover {
  background-color: #005f90;
}

@media screen and (max-width: 768px) {
  .linkedin-badge {
    margin: 10px;
    padding: 15px;
  }

  .linkedin-badge h2 {
    font-size: 18px;
  }

  .linkedin-badge p {
    font-size: 12px;
  }

  .linkedin-badge a {
    padding: 8px 15px;
    font-size: 14px;
  }
}

.profile-badge {
  margin-left: 1px;
  background-color: #000;
  color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.08), 1px 0px 1px rgba(0, 0, 0, 0.08), -1px 0px 1px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.08);
  padding: 0;
}

.profile-badge-header {
  padding: 10px 16px;
  background-color: #38434f;
}

.profile-badge-logo {
  color: #fff;
  width: 84px;
  height: 21px;
  display: inline-block;
}

.btn-perfil {
  margin-top: 0;
}

p a span,
p span {
  white-space: nowrap;
}