<app-nav></app-nav>

<header class="container my-5">
    <app-title></app-title>
</header>

<div class="container my-5">
    <app-carousel></app-carousel> <!-- 1200 x 400 -->
</div>

<div class="container my-5">
    <!-- <app-portafolio></app-portafolio> -->
    <app-skills  id="experiencias" [Json]="'DEV_tecnologias'" [title]="'Desarrollo y otros conocimientos'"></app-skills>
    <app-perfil-profesional id="perfil"></app-perfil-profesional>
    <app-skills id="certificados" [Json]="'certificaciones'" [title]="'Cursos y certificaciones'"></app-skills>
    <app-dev-repositories id="repositorio"></app-dev-repositories>
    <app-empleadores></app-empleadores>
</div> 