<app-toast [title]="'CV - PDF'" [text]="'Ver versión '"
    [link]="'https://drive.google.com/file/d/1XG9lo5xrABNtFMoQz5MKvUn8x5Y61WrK/view?usp=sharing'"
    [linkTxt]="'PDF.'">
</app-toast>

<header class="container my-5">
    <app-title></app-title>
</header>

<div class="container my-5">
    <app-perfil-profesional id="perfil"></app-perfil-profesional>
    <app-skills id="experiencias" [Json]="'DEV_tecnologias'" [title]="'Desarrollo y otros conocimientos'"></app-skills>
    <app-dev-repositories id="repositorio"></app-dev-repositories>
    <app-skills id="certificaciones" [Json]="'certificaciones'" [title]="'Cursos y certificaciones'"></app-skills>
    <app-empleadores></app-empleadores>
</div>