<header class="container my-5">
  <div id="inicio" class="nav row g-0">
    <div class="logo col-12 col-lg-auto d-flex align-items-center justify-content-center ps-4">
      <h2 class="fw-bold text-uppercase mb-0 px-2">Francisco Caviglia</h2>
      <div class="icono"><i class="bi bi-dot"></i></div>
      <p class="mb-0 px-2">Software developer</p>
      <span class="emoji-wave">👋</span>
    </div>
  </div>
</header>

<div class="container my-5">
  <app-perfil-profesional></app-perfil-profesional>
  <app-skills id="habilidades" [Json]="'assets/data/skills.json'" [title]="'Knowledge and skills'"></app-skills>

  <app-dev-repositories></app-dev-repositories>

  <app-skills id="certificaciones" [Json]="'assets/data/certificaciones.json'"
    [title]="'Courses and certifications'"></app-skills>
  <app-experience-timeline></app-experience-timeline>
</div>