#top-button {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background: 0 0;
    border: none;
    outline: 0;
    width: 40px;
    position: fixed;
    bottom: 25px;
    right: 10px;
    cursor: pointer;
    display: none;
}

#top-button img {
    width: 100%
}

#top-button:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

#top-button:active {
    -webkit-transform: translateY(5x);
    transform: translateY(5px);
}

@media screen and (max-width: 1024px) {
    #top-button {
        bottom:20px;
        right: 7px;
        width: 35px
    }
}

@media screen and (max-width: 480px) {
    #top-button {
        bottom:15px;
        right: 3px
    }
}


