.navbar-toggler {
  box-shadow: none;
}

.navbar-icon {
  max-width: 52px;
}

@media (max-width: 993px) {
  .navbar.fixed-top {
    position: static;
  }
}

.nav-link {
  cursor: pointer;
}

.nav-link:hover {
  filter: brightness(1.2) !important;
}

.nav-link:active {
  filter: brightness(1.5) !important;
}