<button id="top-button" class="my-2 position-fixed end-0 bottom-0 z-index-9999 text-center Animation"
    (touchstart)="null" tabindex="-1">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" fill="#3887c3" class="bi bi-arrow-up Animation-active"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
            d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
    </svg>
</button>

<!-- <img src="assets\emojis\pointing-up.png" class="Animation-active w-100"> -->
<!-- (touchstart)="null" para que haga la animacion en mobile -->