/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Ysabeau+SC:wght@600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ysabeau+SC:wght@600&display=swap');
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';

.brightnessAnimation:active {
  animation: brightnessAnimation 3s;
}

.scaleAnimation {
  animation: scaleAnimation 1.5s;
}

.scaleAnimation:active {
  animation: scaleAnimation 2s;
}

.scaleAnimation-lg {
  animation: scaleAnimation 3s;
}

@keyframes brightnessAnimation {
  0% {
    filter: brightness(1.7);
  }

  100% {
    filter: brightness(1);
  }
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(.9);
  }

  100% {
    transform: scale(1);
  }
}

.hidden {
  display: none !important;
}

/* desktop */
@media (min-width: 992px) {}

/* mobile */
@media (max-width: 992px) {

  .logo {
    height: 76px;
  }

  header .menu {
    min-height: 76px;
  }

  header .menu a {
    width: 100%;
  }
}

* {
  font-family: 'Roboto', 'Open Sans', sans-serif !important;
}

body {
  background: #f2f2f2;
}

header .nav {
  min-height: 80px;
  overflow: hidden;
  background: #fff;
}

header .logo h2,
header .logo p {
  font-size: 16px;
  display: inline-block;
}

header .logo p {
  color: #777777;
}

header .logo .icono {
  color: #bfbfbf;
}

.portafolio {
  border-top: 5px solid #3da5e2;
  background: #fff;
  min-height: 636px;
}

h2 {
  color: #3da5e2 !important;
  font-weight: 300 !important;
  font-size: 32px;
}

.nav h2 {
  color: #0e0d0d;
  /* font-family: 'Open Sans', sans-serif; */
  font-weight: 300;
  font-size: 32px;
}

h3 {
  color: #1ba0ef;
  /* font-family: 'Open Sans', sans-serif; */
  font-weight: 200;
  font-size: 28px;
}

.modal-dialog {
  max-width: 1000px;
}

.acerca-de .foto .nombre {
  color: #545454;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 2px;
}

.resumen {
  letter-spacing: 1px;
}

.infoDetalles {
  letter-spacing: 1px;
  font-size: 12px;
}

.acerca-de .info .label {
  font-size: 18px;
  font-weight: 600;
  color: #00426a;
  margin-bottom: 10px;
}

.acerca-de .info .progress {
  background: #9bc4dd;
  border-radius: 0;
  height: 25px;
}

.acerca-de .info .progress .progress-bar {
  background: #3da5e2;
  line-height: 25px;
  padding-left: 20px;
}

/* #destacado img:hover {
	box-shadow: 4px 4px 15px #0e0d0d;
} */

p a {
  color: #3887c3 !important;
  text-decoration: none;
}

p a:hover {
  color: #00426a !important;
}

.dark-mode {
  background: #121212;
  color: #ffffff;
}

.dark-mode .nav,
.dark-mode .portafolio {
  /* background: #121212; */
  background: none;
  color: #ffffff;
  border: 1px solid #00426a;
}

.dark-mode input,
.dark-mode input:focus {
  border: 1px solid #00426a;
  background-color: #00000098;
  color: #ccc;
}

.dark-mode input::placeholder {
  color: #ccc;
}

.dark-mode .cuadro-texto {
  color: #ccc;
  border: 1px solid #00426a !important;
}

.dark-mode p,
.dark-mode .logo h2,
.dark-mode h4 {
  color: #ccc;
}

.dark-mode .btn {
  color: #1ba0ef;
  /* border: 1px solid #00426a !important; */
  border: none;
  box-shadow: 1px 1px 1px #00416aa8 !important;
  background-color: transparent;
  margin: 2px;
}

.dark-mode .btn:hover {
  color: #ffffff;
  background-color: #00426a;
}

.dark-mode .btn:active {
  color: #ffffff;
  background-color: #3887c3;
}

.dark-mode ul li a {
  color: #3887c3;
}

.dark-mode nav,
.dark-mode footer {
  background-color: #0e0d0d !important;
}

.dark-mode .bi,
.dark-mode .moon {
  color: #1ba0ef;
  fill: #1ba0ef !important;
}

.dark-mode .modal-content {
  background-color: #0e0d0d !important;
  border: 1px solid #00426a !important;
}

.dark-mode .modal-content h5 {
  color: #1ba0ef;
}

.dark-mode .modal-content .bi {
  color: red !important;
}

.dark-mode .modal-content button span {
  color: #1ba0ef;
}

.dark-mode .toast {
  box-shadow: 1px 1px 4px #00416aa8 !important;
}

.dark-mode .toast-body {
  color: #0e0d0d;
}

.dark-mode .toast a,
.dark-mode .toast-header,
.dark-mode .toast-header svg {
  color: #00426a !important;
  fill: #00426a !important;
}

.dark-mode #destacado img {
  box-shadow: 0px 0px 10px #1ba1efbb;
}

.dark-mode #destacado img:hover {
  box-shadow: 2px 2px 10px #1ba1efbb;
}

.dark-mode .nav-item .dropdown-menu {
  background-color: #0e0d0d;
  border: 1px solid #00426a;
}

.dark-mode ul li p {
  color: #3887c3 !important;
}

.dark-mode #repositorio a img {
  filter: brightness(1.4);
  opacity: .5;
}

.dark-mode .navbar-icon {
  filter: drop-shadow(2px 1px 1px #2998d9bd);
}