.icono-contenedor {
  text-align: center;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  animation: agrandamiento 3s linear infinite;
  transition: all 1s;
}

.destacados:hover .icono-contenedor,
.destacados:active .icono-contenedor {
  opacity: 0 !important;
}

.destacados svg {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
  shape-rendering: geometricPrecision;
  text-rendering: geometricPrecision;
  image-rendering: optimizeQuality;
  fill-rule: evenodd;
  clip-rule: evenodd;
  width: 140px;
  height: 140px;
  overflow: visible;
}

.destacados svg .trazosGroup {
  transition: all .3s;
}

.destacados svg .trazosGroup:hover {
  filter: brightness(110%);
  transform: scale(120%) translateY(-12%) translateX(-8%);
}

.destacados svg .trazosGroup:active {
  filter: brightness(140%);
  transform: scale(150%) translateY(-25%) translateX(-15%);
}