<div id="perfil" class="row acerca-de align-items-center px-4 mb-5">
  <div class="col-12 col-lg-4 foto text-center">
    <img src="assets/Perfil.jpg" class="rounded-circle mb-2 p-1 w-75"> <!-- src="{{imgPerfil}}" -->
    <!-- <p class="nombre">Francisco Caviglia</p> -->
  </div>

  <div class="col-12 col-lg-8 info">
    <h2 class="titulo text-center text-lg-start">Professional Profile</h2>

    <p class="summary"><i class="bi bi-arrow-right-short"></i>In my professional career I have demonstrated an attitude
      positive and goal-oriented.</p>
    <p class="summary"><i class="bi bi-arrow-right-short"></i>I am committed to my professional development and
      willing to face new challenges and responsibilities to continue growing in knowledge.</p>

    <h3 class="text-lg-start mt-4">Personal Skills</h3>

    <p class="resumen">
      <i class="bi bi-arrow-right-short"></i>Creativity<br>
      <i class="bi bi-arrow-right-short"></i>Proactivity<br>
      <i class="bi bi-arrow-right-short"></i>Responsibility<br>
      <i class="bi bi-arrow-right-short"></i>Speed in learning<br>
      <i class="bi bi-arrow-right-short"></i>Teamwork and independence<br>
    </p>
  </div>
</div>