  <div class="row acerca-de align-items-center px-4 mb-5">
    <div class="col-12 col-lg-4 foto text-center">
        <img src="assets\Perfil1.jpg" class="rounded-circle mb-3 w-75" alt="">
        <p class="nombre">Francisco Caviglia</p>
    </div>

    <div class="col-12 col-lg-8 info">
        <h2 class="titulo text-center text-lg-start">Perfil Profesional</h2>
        <p class="resumen">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.</p>

        <p class="resumen">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.</p>

        <p class="label">HTML</p>
        <div class="progress mb-3">
            <div class="progress-bar text-start" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                aria-valuenow="95" style="width: 95%;">
                95%
            </div>
        </div>

        <p class="label">CSS</p>
        <div class="progress mb-3">
            <div class="progress-bar text-start" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                aria-valuenow="100" style="width: 100%;">
                100%
            </div>
        </div>

        <p class="label">JS</p>
        <div class="progress mb-3">
            <div class="progress-bar text-start" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                aria-valuenow="85" style="width: 85%;">
                85%%
            </div>
        </div>
    </div>
</div>